<!DOCTYPE html>
<html lang="en" class=" is-copy-enabled emoji-size-boost is-u2f-enabled">
  <head>
    <meta charset='utf-8'>
  </head>
  <body>
    <h1>JS 2 JSON</h1>
    <form method="POST">
      <div><textarea rows="50" cols="160" name="data">{{json}}</textarea></div>
      <input type="submit" value="Convert to JSON" />
    </form>
    <pre>{{report}}</pre>
  </body>
</html>
